In [38]:
import pandas as pd
import logging
from datetime import datetime

In [39]:
## Loading data
user_df = pd.read_csv('/workspaces/fc_engineer-codetest/data_sources/users-1.csv', delimiter=',', encoding='utf-8')
pricing_df = pd.read_csv('/workspaces/fc_engineer-codetest/data_sources/pricing-1.csv', delimiter=',', encoding='utf-8')
transactions_df = pd.read_csv('/workspaces/fc_engineer-codetest/data_sources/transactions-1.csv', delimiter=',', encoding='utf-8')

In [42]:
## Implementing processing methods to ensure data quality and correct formatting
transactions_df['amount'] = pd.to_numeric(transactions_df['amount'], errors='coerce') ## converting amount into numeric and adding 'coerce' to set invalids as NA
transactions_df['trans_date'] = pd.to_datetime(transactions_df['trans_date'], format = 'ISO8601') ## converting date string to datetime format
transactions_df = transactions_df.dropna(subset=['trans_date', 'amount']) ## this is to remove records where transaction date or amount is NA

user_df['date_joined'] = pd.to_datetime(user_df['date_joined'], format = 'ISO8601') ## converting date string to datetime format

In [43]:
## Applying transformation instructions
user_df['email'] = user_df['email'].str.lower()
transactions_df['product'] = transactions_df['product'].str.upper()

In [50]:
## To calculate each user's spending
user_spends = transactions_df.groupby('user_id')['amount'].sum().reset_index()
user_spends.columns = ['user_id', 'total_spent']

user_df2 = user_df.merge(user_spends, on='user_id', how='left')

In [51]:
user_df2

   user_id           name                  email date_joined  total_spent
0        1       John Doe      johndoe@email.com  2022-01-01       6666.0
1        2     Jane Smith    janesmith@email.com  2022-01-05      10585.0
2        3   Robert Brown  robertbrown@email.net  2022-01-10      13187.0
3        4      Lucy Gray    lucy.gray@email.com  2022-02-01      14586.0
4        5  Michael Green       mgreen@email.org  2022-02-15       3487.0